@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100%;

}

body{

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    max-width: 100%;
    max-height: 100%;
    background-color: #F3EFE0;
}

::placeholder{
    color: #F3EFE0;
}

h1{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2rem;
    font-size: 4em;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10em;
    margin: 0 auto;
}

input{
    margin: 1em;
    width: 100%;
}

.color{
    width: 5em;
}

.todo-text{
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #434242;
    background-color: #22A39F;
    
}

.todo-text:focus {
    border: 1px solid #434242);
    transition: 0.5s;
    outline: none;
  }

button{
    height: 3em;
    width: 6em;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: #22A39F;
}

button:hover{
    background-color: #1d8681;
    transition: 0.5s;
}


.todos{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-item{
    margin: 2em;
    width: 20em;
    height: 2em;
    background-color: #E1D7C6;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content:  space-between;
    align-items: center;
    padding: 0 0.5em;
}
.close-btn{
    width: 2em;
    background-color: transparent;
}


footer{
    position: absolute;
    bottom: 0;
    background-color: #434242;
    height: 100px;
    width: 100%;
    padding: 1.5em;
}

.footer-link{
    margin: 1em;
    color: white;
}

.footer-p{
    padding: 10px;
    color: white;
}